* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid red;
}

.container {
    width: 320px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #fff;
    padding: 1rem;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 7px;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 15px rgba(179, 179, 179, .7);
}

.container h2 {
    color: #0A66C3;
    font-size: 1.6rem;
    padding-left: .1rem;
}

.intro-text p {
    font-size: .8rem;
    padding-top: .3rem;
}

.input {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: .7rem;
}

.input input {
    width: 100%;
    height: 50px;
    padding-top: 1.1rem;
    padding-left: 9px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: .2s;
}

.input label {
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 1.1rem;
    color: #8c8c8c;
    transition: .2s;
}

.input input:focus~label,
.input input:valid~label {
    top: 10%;
    font-size: .8rem;
    color: #000000;
}

.input input:focus {
    border-width: 2px;
    border-color: #0A66C3;
}

.forgot-pass-link {
    width: 140px;
    padding: .2rem
}